
nav{
    width: 100%;
    height: 115px;
    background: rgba(255, 255, 255, 0.25);
    display: flex;
    font-size: 17px;
}
.nav{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
ul{
    display: flex;
    list-style: none;
    gap: 32px;
}
.opt > li{
    padding: 8px ;
    /* background-color: #891180; */
}
.options {
    align-items: center;
    color:  #484848;
}
.click-sign {
    color:   #891180;;
    background: #FCECFB;
    border-radius: 12px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    text-decoration: none;
    cursor: pointer;
    margin-left: 32px;
    font-size: 16px;
    height: 40px;    
    box-sizing: border-box;
    letter-spacing: 0.08em;
    padding: 12px 36px;
    border: 1px solid #891180;

}
.click-signs{
    background-color: #891180;
    color: white;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    text-decoration: none;
    cursor: pointer;
    font-size: 16px;
    height: 40px;    
    box-sizing: border-box;
    padding: 12px 20px;
    letter-spacing: 0.08em;
    border: 1px solid #891180;
    border-radius: 12px;
}